@import url('fonts.css');
@import url('sprites.css');
@import url('site-styles/welcome-studio.css');
@import url('site-styles/services.css');
@import url('site-styles/our-portfolio.css');
@import url('site-styles/about-us.css');
@import url('site-styles/our-team.css');
@import url('site-styles/freelance.css');
@import url('site-styles/contact-us.css');
@import url('site-styles/footer.css');
/* custom fonts: roboto_slabregular, Montserrat, Droid Serif */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400i,400|Montserrat:400,500,600,700');

* {
	box-sizing: border-box;
	vertical-align: top;
	margin: 0;
}

html {
	text-align: center;
	font-size: 62.5%;
}

body {
	height: auto;
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.main {
	min-width: 1000px;
	height: auto;
	vertical-align: top;
	text-align: center;
}

body, .main, section, article, header {
  display:block;
  max-width:100%;
}