.footer {
  background-color: #f7f7f7;
}
.footer-mogo {
  display: inline-block;
  max-width: 47rem;
  margin-top: 6.5rem;
}
.footer-mogo-caption {
  font-size: 4.5rem;
  font-family: Montserrat;
  color: #ccc;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 2.5rem;
}
.footer-mogo-text {
  font-size: 1.5rem;
  font-family: Roboto;
  color: #999;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 4.5rem;
}
.footer-mogo-followers-counter {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1.5rem;
}
.footer-mogo-followers-counter > strong {
  font-size: 1.8rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  vertical-align: baseline;
}
.footer-mogo-follow-us {
  border-top: 0.1rem solid rgba(89, 89, 89, 0.3);
  text-align: left;
  padding-top: 1.1rem;
}
.footer-mogo-follow-us-text {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Roboto;
  color: #999;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}
.footer-mogo-follow-us-list {
  padding: 0.5rem 0 0 2.2rem;
  display: inline-block;
}
.footer-mogo-follow-us-list-item {
  vertical-align: middle;
  margin-left: 1.5rem;
  display: inline-block;
}
.footer-mogo-follow-us-list-item:nth-child(1) {
  margin-left: 0;
}
.footer-mogo-form {
  margin-top: 3.4rem;
  text-align: left;
}
.footer-mogo-form-email {
  width: 23rem;
  height: 40px;
  border: 0.1rem solid #e7e7e7;
  font-size: 1.5rem;
  font-family: Roboto;
  color: #ccc;
  font-style: italic;
  line-height: 1.6;
  padding-left: 1rem;
}
.footer-mogo-form-email::placeholder {
  opacity: 0.5;
}
.footer-mogo-form-submit {
  width: 15rem;
  height: 4rem;
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  border: none;
  background-color: #95e1d3;
}
.footer-mogo-form-submit:hover {
  cursor: pointer;
  background-color: #fce38a;
}
.footer-blogs {
  padding: 0;
  display: inline-block;
  text-align: left;
  margin-top: 7.8rem;
  margin-left: 4rem;
  margin-right: 7rem;
}
.footer-blogs-caption {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 3.8rem;
}
.footer-blogs-list {
  padding-left: 0;
}
.footer-blogs-list-item {
  text-align: left;
  padding-bottom: 3rem;
}
.footer-blogs-list-item:nth-last-child(1) {
  padding-bottom: 0;
}
.footer-blogs-list-item-header {
  max-width: 23rem;
  padding-left: 2rem;
  display: inline-block;
  text-align: left;
}
.footer-blogs-list-item-header-caption {
  padding-top: 1.6rem;
}
.footer-blogs-list-item-header-caption-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
}
.footer-blogs-list-item-header-caption-link:hover {
  color: #fce38a;
}
.footer-blogs-list-item-header-date {
  font-size: 1.3rem;
  font-family: Roboto;
  color: #999;
  font-style: italic;
  font-weight: 400;
  line-height: 1.846;
}
.footer-instagram {
  display: inline-block;
  max-width: 27rem;
  text-align: left;
  margin-top: 7.8rem;
}
.footer-instagram-caption {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 3.6rem;
}
.footer-instagram-row {
  padding-left: 0;
}
.footer-instagram-row-item {
  margin: 0.1rem;
  display: inline-block;
}
.footer-instagram-view-more {
  margin-top: 1.3rem;
}
.footer-instagram-view-more-link {
  font-size: 1.3rem;
  font-family: Roboto;
  color: #333;
  font-style: italic;
  line-height: 1.846;
  text-decoration: none;
}
.footer-instagram-view-more-link:hover {
  color: #fce38a;
}
.footer-copyright {
  max-width: 120rem;
  display: block;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
  border-top: 0.1rem solid #e5e5e5;
}
.footer-copyright-text {
  font-size: 1.35rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
}
.footer-copyright-text > strong {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #f49da0;
  font-weight: 600;
  line-height: 1.2;
}
