.header {
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.header-header-logo {
  display: inline-block;
  padding-top: 2.8rem;
  font-size: 3rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}
.header-header-menu {
  padding-top: 3.5rem;
  display: inline-block;
}
.header-header-menu-list {
  padding-left: 49.5rem;
}
.header-header-menu-list-item {
  margin-left: 5.5rem;
  vertical-align: middle;
  display: inline-block;
}
.header-header-menu-list-item:last-child {
  margin-left: 4rem;
}
.header-header-menu-list-item:nth-last-child(2) {
  margin-left: 5rem;
}
.header-header-menu-list-item:first-child {
  margin-left: 0;
}
.header-header-menu-list-item-link {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
}
.header-header-menu-list-item-link:hover {
  color: #fce38a;
}
.header-header-menu-list-item-link::after {
  content: '';
  display: block;
  width: 0%;
  margin: 1rem auto auto auto;
  border-bottom: 0.3rem solid #fce38a;
}
.header-header-menu-list-item-link:hover::after {
  width: 95%;
}
.header-title {
  font-size: 7.2rem;
  font-family: 'Kaushan Script';
  color: #fff;
  line-height: 1.2;
  margin-top: 15.5rem;
}
.header-caption {
  font-size: 15rem;
  max-width: 85rem;
  margin: 3.5rem auto 0 auto;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.933;
}
.header-caption:after {
  content: '';
  display: block;
  width: 6rem;
  border: 0.1rem solid #fff;
  margin: 5.8rem auto 0;
}
.header-learn-more {
  padding-top: 5rem;
}
.header-learn-more-link {
  display: inline-block;
  border: 0.25rem solid #fff;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.35rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
}
.header-learn-more-link:hover {
  border-color: #fce38a;
  color: #fce38a;
}
.header-slider {
  padding-top: 15.6rem;
  padding-bottom: 2.4rem;
  padding-left: 1rem;
}
.header-slider-item {
  min-width: 28rem;
  display: inline-block;
}
.header-slider-item:before {
  content: '';
  display: block;
  border: 0.15rem solid #fff;
}
.header-slider-item {
  opacity: 0.5;
  text-align: left;
  margin-left: 3rem;
}
.header-slider-item:nth-child(1) {
  margin-left: 0;
}
.header-slider-item:hover {
  opacity: 1;
}
.header-slider-item-cat {
  display: inline-block;
  font-size: 2.2rem;
  margin-top: 2rem;
  font-family: Montserrat;
  color: #fff;
  vertical-align: bottom;
  font-weight: 600;
  opacity: 1;
  text-transform: uppercase;
  line-height: 1.2;
}
.header-slider-item-cat > strong {
  vertical-align: bottom;
  font-size: 1.8rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.about-us {
  background-color: #fff;
}
.about-us-sub-caption {
  font-size: 2.4rem;
  padding-top: 9rem;
  font-family: 'Kaushan Script';
  color: #333;
  line-height: 1.2;
}
.about-us-caption {
  font-size: 3rem;
  font-family: Montserrat;
  padding-top: 1.3rem;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.about-us-caption::after {
  content: '';
  display: block;
  width: 5.8rem;
  margin: 3.3rem auto auto auto;
  border: 0.15rem solid red;
  opacity: 0.6;
}
.about-us-text {
  max-width: 95rem;
  margin: 4rem auto auto auto;
  font-size: 15px;
  font-family: Roboto;
  color: #999;
  line-height: 1.6;
}
.about-us-project-list {
  margin: 10rem 0 11rem 0;
}
.about-us-project-list-item:nth-child(2) {
  padding: 0 3rem;
}
.about-us-facts {
  padding: 0;
  background-color: #95e1d3;
}
.about-us-facts-item {
  padding-top: 7rem;
  padding-bottom: 8.7rem;
  min-width: 24rem;
  border-left: 0.1rem solid #fff;
  display: inline-block;
}
.about-us-facts-item:nth-last-child(1) {
  border-right: 0.1rem solid #fff;
}
.about-us-facts-item-caption {
  font-size: 7.2rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.about-us-facts-item-sub-caption {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
}
.amazing-services {
  background-color: #fff;
}
.amazing-services-sub-caption {
  padding-top: 11rem;
  font-size: 2.4rem;
  font-family: 'Kaushan Script';
  color: #333;
  line-height: 1.2;
}
.amazing-services-caption {
  padding-top: 1rem;
  font-size: 3rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.amazing-services-caption::after {
  content: '';
  display: block;
  max-width: 5.8rem;
  margin: 3.5rem auto auto auto;
  border: 0.15rem solid red;
  opacity: 0.6;
}
.amazing-services-advantages-row {
  max-width: 120rem;
  display: block;
  margin: 0 auto 0 auto;
  padding: 6.5rem 0 5rem 0;
}
.amazing-services-advantages-row:nth-last-child(1) {
  padding: 4.5rem 0 8rem 0;
  border-top: 0.1rem solid rgba(89, 89, 89, 0.3);
}
.amazing-services-advantages-row-item {
  display: inline-block;
}
.amazing-services-advantages-row-item:nth-child(2) {
  margin-left: 5.8rem;
  margin-right: 5.8rem;
}
.amazing-services-advantages-row-item-header {
  display: inline-block;
  max-width: 28rem;
}
.amazing-services-adventages-row-item-header-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.amazing-services-adventages-row-item-header-sub-title {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  text-align: left;
}
.footer {
  background-color: #f7f7f7;
}
.footer-mogo {
  display: inline-block;
  max-width: 47rem;
  margin-top: 6.5rem;
}
.footer-mogo-caption {
  font-size: 4.5rem;
  font-family: Montserrat;
  color: #ccc;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 2.5rem;
}
.footer-mogo-text {
  font-size: 1.5rem;
  font-family: Roboto;
  color: #999;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 4.5rem;
}
.footer-mogo-followers-counter {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1.5rem;
}
.footer-mogo-followers-counter > strong {
  font-size: 1.8rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  vertical-align: baseline;
}
.footer-mogo-follow-us {
  border-top: 0.1rem solid rgba(89, 89, 89, 0.3);
  text-align: left;
  padding-top: 1.1rem;
}
.footer-mogo-follow-us-text {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Roboto;
  color: #999;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}
.footer-mogo-follow-us-list {
  padding: 0.5rem 0 0 2.2rem;
  display: inline-block;
}
.footer-mogo-follow-us-list-item {
  vertical-align: middle;
  margin-left: 1.5rem;
  display: inline-block;
}
.footer-mogo-follow-us-list-item:nth-child(1) {
  margin-left: 0;
}
.footer-mogo-form {
  margin-top: 3.4rem;
  text-align: left;
}
.footer-mogo-form-email {
  width: 23rem;
  height: 40px;
  border: 0.1rem solid #e7e7e7;
  font-size: 1.5rem;
  font-family: Roboto;
  color: #ccc;
  font-style: italic;
  line-height: 1.6;
  padding-left: 1rem;
}
.footer-mogo-form-email::placeholder {
  opacity: 0.5;
}
.footer-mogo-form-submit {
  width: 15rem;
  height: 4rem;
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  border: none;
  background-color: #95e1d3;
}
.footer-mogo-form-submit:hover {
  cursor: pointer;
  background-color: #fce38a;
}
.footer-blogs {
  padding: 0;
  display: inline-block;
  text-align: left;
  margin-top: 7.8rem;
  margin-left: 4rem;
  margin-right: 7rem;
}
.footer-blogs-caption {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 3.8rem;
}
.footer-blogs-list {
  padding-left: 0;
}
.footer-blogs-list-item {
  text-align: left;
  padding-bottom: 3rem;
}
.footer-blogs-list-item:nth-last-child(1) {
  padding-bottom: 0;
}
.footer-blogs-list-item-header {
  max-width: 23rem;
  padding-left: 2rem;
  display: inline-block;
  text-align: left;
}
.footer-blogs-list-item-header-caption {
  padding-top: 1.6rem;
}
.footer-blogs-list-item-header-caption-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
}
.footer-blogs-list-item-header-caption-link:hover {
  color: #fce38a;
}
.footer-blogs-list-item-header-date {
  font-size: 1.3rem;
  font-family: Roboto;
  color: #999;
  font-style: italic;
  font-weight: 400;
  line-height: 1.846;
}
.footer-instagram {
  display: inline-block;
  max-width: 27rem;
  text-align: left;
  margin-top: 7.8rem;
}
.footer-instagram-caption {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 3.6rem;
}
.footer-instagram-row {
  padding-left: 0;
}
.footer-instagram-row-item {
  margin: 0.1rem;
  display: inline-block;
}
.footer-instagram-view-more {
  margin-top: 1.3rem;
}
.footer-instagram-view-more-link {
  font-size: 1.3rem;
  font-family: Roboto;
  color: #333;
  font-style: italic;
  line-height: 1.846;
  text-decoration: none;
}
.footer-instagram-view-more-link:hover {
  color: #fce38a;
}
.footer-copyright {
  max-width: 120rem;
  display: block;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
  border-top: 0.1rem solid #e5e5e5;
}
.footer-copyright-text {
  font-size: 1.35rem;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
}
.footer-copyright-text > strong {
  font-size: 1.4rem;
  font-family: Montserrat;
  color: #f49da0;
  font-weight: 600;
  line-height: 1.2;
}
.header-sprite {
  background-image: url(../img/sprites/header-menu-sprite.png);
  background-repeat: no-repeat;
  display: block;
}
.header-sprite-magnifying-glass {
  width: 18px;
  height: 18px;
  background-position: -5px -5px;
}
.header-sprite-magnifying-glass:hover {
  background-position: -33px -5px;
}
.header-sprite-shopping-cart {
  width: 18px;
  height: 18px;
  background-position: -5px -33px;
}
.header-sprite-shopping-cart:hover {
  background-position: -33px -33px;
}
.amazing-services-sprite {
  background-image: url(../img/sprites/amazing-services-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3rem;
  margin-top: 0.25rem;
}
.amazing-services-sprite-alarm {
  width: 32px;
  height: 31px;
  background-position: -5px -5px;
}
.amazing-services-sprite-book {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}
.amazing-services-sprite-computer {
  width: 32px;
  height: 28px;
  background-position: -5px -47px;
}
.amazing-services-sprite-home {
  width: 32px;
  height: 31px;
  background-position: -47px -47px;
}
.amazing-services-sprite-image {
  width: 32px;
  height: 32px;
  background-position: -89px -5px;
}
.amazing-services-sprite-web-design {
  width: 32px;
  height: 32px;
  background-position: -89px -47px;
}
.footer-sprite {
  background-image: url(../img/sprites/footer-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.footer-sprite-dribbble {
  width: 16px;
  height: 16px;
  background-position: -5px -5px;
}
.footer-sprite-dribbble:hover {
  background-position: -31px -5px;
}
.footer-sprite-facebook {
  width: 8px;
  height: 16px;
  background-position: -57px -5px;
}
.footer-sprite-facebook:hover {
  background-position: -75px -5px;
}
.footer-sprite-google-plus {
  width: 16px;
  height: 14px;
  background-position: -5px -31px;
}
.footer-sprite-google-plus:hover {
  background-position: -31px -31px;
}
.footer-sprite-instagram {
  width: 16px;
  height: 16px;
  background-position: -57px -31px;
}
.footer-sprite-instagram:hover {
  background-position: -5px -57px;
}
.footer-sprite-pinterest {
  width: 13px;
  height: 16px;
  background-position: -31px -57px;
}
.footer-sprite-pinterest:hover {
  background-position: -54px -57px;
}
.footer-sprite-tumblr {
  width: 10px;
  height: 16px;
  background-position: -83px -31px;
}
.footer-sprite-tumblr:hover {
  background-position: -77px -57px;
}
.footer-sprite-twitter {
  width: 16px;
  height: 14px;
  background-position: -93px -5px;
}
.footer-sprite-twitter:hover {
  background-position: -103px -29px;
}
.footer-sprite-youtube {
  width: 16px;
  height: 12px;
  background-position: -103px -53px;
}
.footer-sprite-youtube:hover {
  background-position: -97px -75px;
}
* {
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.main {
  min-width: 122rem;
  text-align: center;
  background-color: #00f;
  margin: 0 auto;
}
