/* CONTACT-US */
.contact-us {
	display: block;
	background: rgb(34,34,34) url(../../img/map_image.png);
	background-repeat: no-repeat;
	background-position: right 400%;
	font-size: 0;
}

.contact-us-caption {
	font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3.9rem;
    line-height: 3.9rem;
    color: white;
    display: block;
    padding: 105px 0 20px 8px;
    letter-spacing: 0.025em;
}

.contact-us-sub-caption {
	font-family: 'Droid Serif';
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    color: #777777;
    display: block;
    word-spacing: 0.5px;
    padding: 0 2px 75px 0;
    letter-spacing: 0.025em;
}

/* CONTACT-US-FORM */
.contact-us-form {
    width: auto;
    height: auto;
	padding-bottom: 116px;
}

/* PLACEHOLDER */
::-webkit-input-placeholder {color:#bbbbbb;font-weight: 500;text-transform: uppercase;}
::-moz-placeholder          {color:#bbbbbb;font-weight: 500;text-transform: uppercase;}/* Firefox 19+ */
:-moz-placeholder           {color:#bbbbbb;font-weight: 500;text-transform: uppercase;}/* Firefox 18- */
:-ms-input-placeholder      {color:#bbbbbb;font-weight: 500;text-transform: uppercase;}

.contact-us-form-user-data {
    display: inline-block;
}

.contact-us-form-user-data input {
	width: 455px;
    height: 51px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3rem;
    text-indent: 20px;
    margin: 0px 0px 29px 0px;
    display: block;
    border: 0;
    letter-spacing: 0.025em;
    border-radius: 2.5px;
}

.contact-us-form-user-data input:last-child {
	margin-bottom: 0;
}

.contact-us-form-user-message {
    display: inline-block;
}

.contact-us-form-user-message textarea {
	width: 455px;
    height: 211px;
    max-width: 455px;
    max-height: 211px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3rem;
    text-indent: 20px;
    padding: 16px 0 0 0;
    margin: 0px 0 0 30px;
    display: block;
    border: 0;
    resize: none;
    border-radius: 2.5px;
    letter-spacing: 0.025em;
}

.contact-us-form-button {
	padding-top: 30.5px;
}

.contact-us-form-button button {
	font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 22px 46px 22px 46px;
    color: white;
    background-color: rgb(254,209,54);
    border: 0;
    border-radius: 2.5px;
    letter-spacing: 1px;
}

.contact-us-form-button button:hover {
    background-color: rgb(242,96,101);
    cursor: pointer;
}