/* FOOTER */
.footer {
	display: block;
	font-family: 'Montserrat';
	background-color: #ffffff;
	font-weight: 400;
	font-size: 0;
	color: #555555;
}

.footer-wrapper {
	width: auto;
	height: 90px;
	font-size: 0;
}

.footer-copyright {
	display: inline-block;
	font-size: 1.4rem;
	word-spacing: -1.2px;
    padding: 31px 119px 0 0;
    text-align: left;
}

/* FOOTER SOCIAL */
.footer-social {
	display: inline-block;
    padding: 20px 365px 0 0;
    list-style: none;
    text-align: left;
}

.footer-social-link {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-color: rgb(30,30,30);
	margin-right: 10px;
	border-radius: 100%;
	position: relative;
}

.footer-social li {
	display: inline-block;
}

.footer-social-icon:nth-child(1) a:hover {
	cursor: pointer;
	background-color: rgb(65,171,225);
}

.footer-social-icon:nth-child(2) a:hover {
	cursor: pointer;
	background-color: rgb(72,103,170);
}

.footer-social-icon:nth-child(3) a:hover {
	cursor: pointer;
	background-color: rgb(189,8,27);
}

.footer-social-icon:nth-child(4) a:hover {
	cursor: pointer;
	background-color: rgb(221,81,68);
}