.welcome-studio {
	background-image: url(../../img/banner.jpg); /* height: 700px; */
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	display: block;
}

.welcome-studio-header {
	text-align: center;
	padding-top: 40px;
}

.welcome-studio-header-logo {
	width: auto;
	height: auto;
	margin: 4px 0 0 5px;
	display: inline-block;
}

.welcome-studio-header-menu {
	width: auto;
	height: auto;
	margin: 12px 0 0 370px;
	display: inline-block;
}

.welcome-studio-header-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	letter-spacing: 0.025em;
}

.welcome-studio-header-menu li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 37.35px;
	padding: 0;
}

.welcome-studio-header-menu li:nth-child(1) {
	margin: 0;
	padding: 0;
}

.welcome-studio-header-menu li:nth-child(1) > a {
	color: rgb(242,96,101);
}

.welcome-studio-header-menu a {
	font-family: 'Montserrat';
	font-size: 1.4rem;
	font-weight: normal;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
}

.welcome-studio-header-menu a:hover {
	color: rgb(242,96,101);
}

.welcome-studio-title {
	font-family: 'Droid Serif';
	font-size: 3.9rem;
	font-style: italic;
	font-weight: 400;
	letter-spacing: -0.025em;
	word-spacing: 3px;
	padding: 201px 0 0 1px;
	color: white;
	display: block;
}

.welcome-studio-caption {
	font-family: 'Montserrat';
	font-size: 7.4rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: -0.025em;
    word-spacing: 7px;
    padding: 25px 0 0 0px;
	color: white;
	display: block;
}

.welcome-studio-button {
	width: auto;
	height: auto;
	font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 42px 0 160px 0;
    padding: 22px 50px 22px 49px;
    color: white;
    background-color: rgb(254,209,54);
    border: 0;
    border-radius: 2.5px;
    letter-spacing: 1px;
    display: inline-block;
}

.welcome-studio-button:hover {
	background-color: rgb(242,96,101);
}