.amazing-services {
	background-color: white;
}

.amazing-services-sub-caption {
	padding-top: 11rem;
	font-size: 2.4rem;
	font-family: "Kaushan Script";
	color: rgb(51, 51, 51);
	line-height: 1.2;
}

.amazing-services-caption {
	padding-top: 1rem;
	font-size: 3rem;
  	font-family: "Montserrat";
  	color: rgb(51, 51, 51);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.2;
}

.amazing-services-caption::after {
	content: "";
	display: block;
	max-width: 5.8rem;
    margin: 3.5rem auto auto auto;
    border: 0.15rem solid red;
    opacity: 0.6;
}

.amazing-services-advantages-row {
	max-width: 120rem;
	display: block;
	margin: 0 auto 0 auto;
	padding: 6.5rem 0 5rem 0;
}

.amazing-services-advantages-row:nth-last-child(1) {
	padding: 4.5rem 0 8rem 0;
	border-top: 0.1rem solid rgba(89, 89, 89, 0.3);
}

.amazing-services-advantages-row-item {
	display: inline-block;
}

.amazing-services-advantages-row-item:nth-child(2) {
	margin-left: 5.8rem;
    margin-right: 5.8rem;
}

.amazing-services-advantages-row-item-header {
	display: inline-block;
	max-width: 28rem;
}

.amazing-services-adventages-row-item-header-title {
	margin-bottom: 1rem;
	font-size: 1.4rem;
  	font-family: "Montserrat";
  	color: rgb(51, 51, 51);
  	font-weight: 600;
  	text-transform: uppercase;
  	line-height: 1.2;
  	text-align: left;
}

.amazing-services-adventages-row-item-header-sub-title {
  	font-size: 1.5rem;
  	font-family: "Roboto";
  	font-weight: 400;
  	color: rgb(153, 153, 153);
  	line-height: 1.6;
  	text-align: left;
}