.header {
	background-image: url(../../img/header-background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.header-header-logo {
	display: inline-block;
	padding-top: 2.8rem;
	font-size: 3rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
}

.header-header-menu {
	padding-top: 3.5rem;
	display: inline-block;
}

.header-header-menu-list {
	padding-left: 49.5rem;
}

.header-header-menu-list-item {
	margin-left: 5.5rem;
	vertical-align: middle;
	display: inline-block;
}

.header-header-menu-list-item:last-child {
	margin-left: 4rem;
}

.header-header-menu-list-item:nth-last-child(2) {
	margin-left: 5rem;
}

.header-header-menu-list-item:first-child {
	margin-left: 0;
}

.header-header-menu-list-item-link {
	font-size: 1.4rem;
	font-family: "Montserrat";
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
}

.header-header-menu-list-item-link:hover {
	color: rgb(252, 227, 138);
}

.header-header-menu-list-item-link::after {
	content: '';
	display: block;
	width: 0%;
	margin: 1rem auto auto auto;
	border-bottom: 0.3rem solid rgb(252, 227, 138);
}

.header-header-menu-list-item-link:hover::after {
	width: 95%;
}

.header-title {
	font-size: 7.2rem;
	font-family: "Kaushan Script";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	margin-top: 15.5rem;
}

.header-caption {
	font-size: 15rem;
	max-width: 85rem;
	margin: 3.5rem auto 0 auto;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
}

.header-caption:after {
	content: '';
	display: block;
	width: 6rem;
	border: 0.1rem solid white;
	margin: 5.8rem auto 0;
}

.header-learn-more {
	padding-top: 5rem;
}

.header-learn-more-link {
	display: inline-block;
    border: 0.25rem solid white;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.35rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
}

 .header-learn-more-link:hover {
 	border-color: rgb(252, 227, 138);
 	color: rgb(252, 227, 138);
 }

 .header-slider {
 	padding-top: 15.6rem;
 	padding-bottom: 2.4rem;
 	padding-left: 1rem;
 }

.header-slider-item {
	min-width: 28rem;
	display: inline-block;
}

.header-slider-item:before {
	content: '';
	display: block;
	border: 0.15rem solid white;
}

.header-slider-item {
	opacity: 0.5;
	text-align: left;
	margin-left: 3rem;
}

.header-slider-item:nth-child(1) {
	margin-left: 0;
}

.header-slider-item:hover {
	opacity: 1;
}

.header-slider-item-cat {
	display: inline-block;
	font-size: 2.2rem;
	margin-top: 2rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	font-weight: 600;
	opacity: 1;
	text-transform: uppercase;
	line-height: 1.2;
}

.header-slider-item-cat > strong {
	vertical-align: bottom;
	font-size: 1.8rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}