a {
  text-decoration: none;
  color: #000;
}

// padding-top
.pt-30 {
  padding-top: 30px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-5 {
  padding-top: 5px !important;
}

// padding-bottom
.pb-30 {
  padding-bottom: 30px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-5 {
  padding-bottom: 5px;
}

// padding-left
.pl-35 {
  padding-left: 35px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-5 {
  padding-left: 5px;
}

// padding-right
.pr-30 {
  padding-right: 30px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-5 {
  padding-right: 5px;
}

// margin-top
.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-18 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px !important;
}

// margin-bottom
.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

// margin-left
.ml-30 {
  margin-left: 30px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

// margin-right
.mr-30 {
  margin-right: 30px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}