@font-face {
  font-family: 'Canter-bold';

  src: url('./canter/Canter-Bold.eot');

  src: url('./canter/Canter-Bold.eot?iefix') format('eot'),
    url('./canter/Canter-Bold.woff') format('woff'),
    url('./canter/Canter-Bold.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'Canter-bold-shadow';

  src: url('./canter/Canter-BoldShadow.eot');

  src: url('./canter/Canter-BoldShadow.eot?iefix') format('eot'),
    url('./canter/Canter-BoldShadow.woff') format('woff'),
    url('./canter/Canter-BoldShadow.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}
