.about-us {
	background-color: white;
}

.about-us-sub-caption {
	font-size: 2.4rem;
	padding-top: 9rem;
	font-family: "Kaushan Script";
	color: rgb(51, 51, 51);
	line-height: 1.2;
}

.about-us-caption {
	font-size: 3rem;
	font-family: "Montserrat";
	padding-top: 1.3rem;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.about-us-caption::after {
	content: "";
	display: block;
	width: 5.8rem;
	margin: 3.3rem auto auto auto;
	border: 0.15rem solid red;
	opacity: 0.6;
}

.about-us-text {
	max-width: 95rem;
	margin: 4rem auto auto auto;
	font-size: 15px;
	font-family: "Roboto";
	color: rgb(153, 153, 153);
	line-height: 1.6;
}

.about-us-project-list {
	margin: 10rem 0 11rem 0;
}

.about-us-project-list-item:nth-child(2) {
	padding: 0 3rem;
}

.about-us-facts {
	padding: 0;
	background-color: rgb(149, 225, 211);
}

.about-us-facts-item {
	padding-top: 7rem;
	padding-bottom: 8.7rem;
	min-width: 24rem;
	border-left: 0.1rem solid white;
	display: inline-block;
}

.about-us-facts-item:nth-last-child(1) {
	border-right: 0.1rem solid white;
}

.about-us-facts-item-caption {
	font-size: 7.2rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.about-us-facts-item-sub-caption {
	margin-top: 1rem;
	font-size: 1.4rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
}