@import './normalize.css';
@import '../fonts/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(64, 64, 75);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 123rem;
  margin: auto;

  padding-left: 3rem;
  padding-right: 3rem;
}

.header {
  position: relative;

  display: flex;

  padding-top: 21.2rem;
}

.header .container {
  position: relative;
  background-color: rgb(123, 160, 151);
  background-image: url('../img/Tower.png');
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.header .container:after {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/header-town-background.png');
  background-size: 153rem;
  background-position-x: 59.5%;
  background-position-y: calc(100% + 20.8rem);
  background-repeat: no-repeat;
  position: absolute;
}

.header .container:before {
  content: '';
  height: 5rem;
  background-image: url('../img/background.png');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__subtitle,
.header__title {
  font-family: 'Canter-bold';
  font-size: 8.2rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  color: rgb(243, 239, 227);
}

.header__title {
  font-size: 17rem;
  line-height: 10.5rem;
  letter-spacing: 0.3rem;
}

.header__container {
  max-width: 57rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: auto;
  margin-top: 23rem;
}

.header__subtitle:last-child {
  margin-top: 1.5rem;
  font-size: 7.6rem;
  letter-spacing: 0.14rem;
}

/* header__countdown */

.header__countdown {
  max-width: 38rem;
  margin-left: auto;
  margin-top: 7rem;
  display: flex;
  margin-right: 12.35rem;
  margin-bottom: 35rem;
}

.header__countdown__item {
  width: 33.3%;
  font-size: 6rem;
  font-family: 'Canter-bold';
}

.header__countdown__item:not(:last-child) {
  margin-right: 4rem;
}

.header__countdown__item__container {
  display: flex;
  justify-content: space-around;
}

.header__countdown__item__number {
  min-width: 5rem;
  min-height: 8.5rem;
  display: inline;
  font-size: 7rem;

  color: white;

  text-align: center;
  vertical-align: middle;

  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
}

.header__countdown__item__number__expired {
  opacity: 0.75;
  color: rgba(255, 0, 0, 0.5);
}

.header__countdown__item__title {
  display: block;
  font-size: 5rem;

  color: white;

  text-align: center;
  margin-top: 0.25rem;
}

/* header__countdown */

.join-us .container {
  background-image: url('../img/background.png');
}

.join-us__container {
  width: 100%;
  display: flex;
}

.join-us__title {
  font-family: 'Canter-bold';
  text-transform: uppercase;
  font-size: 7.2rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 7rem;
}

.join-us__map {
  width: 40.5%;
  height: 26rem;
  margin-left: auto;
  margin-right: 0;

  position: relative;
}

.join-us__map__decoration__top-left,
.join-us__map__decoration__top-right {
  content: '';

  width: 6rem;
  height: 6rem;

  background-image: url('../img/left.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
}

.join-us__map__decoration__top-left {
  left: -1.5rem;
  top: -2.5rem;
}

.join-us__map__decoration__top-right {
  transform: rotate(-100deg);

  right: -2.4rem;
  top: -1.7rem;
}

.join-us__form {
  width: 40.5%;
  height: 26rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  background-image: url('../img/note.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-right: 8rem;
  margin-bottom: 5rem;
  position: relative;
}

.join-us__form__input {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
}

.join-us__form__input:before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.5rem;
  bottom: -0.25rem;
  border-left: 0.1rem solid rgba(255, 0, 0, 0.3);
}

.join-us__form__input > input {
  width: 15rem;
  height: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;

  border: none;

  background: inherit;

  outline: none;
}

.join-us__form__name {
  margin-top: 5.5rem;
  margin-right: 4.4rem;
}

.join-us__form__email {
  margin-top: 2.2rem;
}

.join-us__form__email > textarea {
  width: 37.25rem;
  height: 5.5rem;
  text-align: start;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;

  border: none;

  background: inherit;

  outline: none;
  resize: none;
}

.join-us__form__button {
  font-family: 'Canter-bold-shadow';
  text-transform: uppercase;
  font-size: 3.2rem;
  display: block;
  border: 0;
  background: none;
  margin: auto;
  outline: none;
  margin-top: 3.5rem;
  cursor: pointer;
}

.join-us__form__decoration__top-left,
.join-us__form__decoration__top-right {
  content: '';

  width: 6rem;
  height: 6rem;

  background-image: url('../img/left.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
}

.join-us__form__decoration__top-left {
  left: -1.5rem;
  top: -2.5rem;
}

.join-us__form__decoration__top-right {
  transform: rotate(-100deg);

  right: -2.4rem;
  top: -1.7rem;
}

.footer {
  margin-bottom: 21.2rem;
}

.footer .container {
  background-image: url('../img/background.png');

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__location {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 3rem;
  margin-top: 0.1rem;
}

.footer__location__item:not(:first-child) {
  margin-top: 0.5rem;
}

.footer__socials {
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 22rem;
  margin-right: 0.7rem;
  justify-content: space-between;
  margin-top: 5.7rem;
  margin-bottom: 4.8rem;
}

.footer__socials__item > .icon {
  width: 3.8rem;
  height: 3.8rem;

  background-size: 100%;
  background-repeat: no-repeat;

  display: block;

  font-size: 0;
}

.icon-twitter {
  background-image: url('../img/twitter.svg');
}

.icon-skype {
  background-image: url('../img/skype-logo.svg');
}

.icon-pinterest {
  background-image: url('../img/pinterest-logo.svg');
}

@media screen and (max-width: 1250px) {
  .header {
    padding-top: 0;
  }

  .footer {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1145px) {
  .header {
    padding-top: 0;
  }

  .footer {
    margin-bottom: 0;
  }

  .join-us__form__message {
    margin-top: 1.8rem;
  }

  .join-us__form__email > textarea {
    width: 80%;
  }

  .join-us__form__button {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 992px) {
  .join-us__container {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  .join-us__form {
    width: 47.4rem;
    margin-right: auto;
  }

  .join-us__form__message {
    margin-top: 1.8rem;
  }

  .join-us__form__email > textarea {
    width: 37.25rem;
  }

  .join-us__form__button {
    margin-top: 0.5rem;
  }

  .join-us__map {
    width: 47.4rem;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }

  .header__container {
    margin-top: 5rem;
  }

  .header__countdown {
    margin-bottom: 25rem;
  }

  .header__container,
  .header__countdown {
    margin-right: auto;
    align-items: center;
  }

  .join-us__container {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  .join-us__form {
    width: 47.4rem;
    margin-right: auto;
  }

  .join-us__form__message {
    margin-top: 1.8rem;
  }

  .join-us__form__email > textarea {
    width: 37.25rem;
  }

  .join-us__form__button {
    margin-top: 0.5rem;
  }

  .join-us__map {
    width: 47.4rem;
    margin-right: auto;
  }
}

@media screen and (max-width: 496px) {
  .header__title {
    line-height: 88%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 46%;
  }

  .header__countdown {
    flex-direction: column;
  }

  .header__countdown__item {
    width: auto;
    margin-bottom: 2.5rem;
  }

  .header__countdown__item:not(:last-child) {
    margin-right: 0;
  }

  .join-us__map {
    width: 100%;
  }

  .join-us__form {
    width: 100%;
  }

  .join-us__form__email > textarea {
    width: auto;
  }

  .join-us__form__name {
    margin-right: 0;
  }
}
